@mixin respond-to($breakpoint) {
    @if $breakpoint == 'large' {
      @media (max-width: 992px) {
        @content;
      }
    } @else if $breakpoint == 'medium' {
      @media (max-width: 767px) {
        @content;
      }
    }
  }


@include respond-to('large') {
    .container {
      width: 720px;
      max-width: 100%;
    }
    .col-md-6 {
      width: 50%;
      max-width: 100%;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-sm-4{
      width: 348px;
      max-width: 100%;
      margin: 0 auto;
    }
    .col-md-10{
      width: 576px;
      max-width: 100%;
      margin: 0 auto;
    }
    .classic{
      .col-md-6{
        margin: 0 auto;
      }
      .d-flex{
        flex-direction: column;
      }
    }
    .jointn {
      .row {
        gap: 24px;
      }
      .column {
        width: 100%;
      }
      
    }

    .list {
      .col-3 {
        margin-bottom: 24px;
      }
    }
    .footer {
      .icon {
        width: 40px;
      }
    }
    .nav-poudct {
      .container {
        max-width: 100%;
        padding: 0;
        a {
          font-size: 24px;
          height: 60px;
        }
      }
    }
    .s-map {
      .d-flex {
        .column {
          max-width: 100%;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          gap: 24px;
        }
        .infos {
          margin-bottom: 24px;
        }
        p {
          width: 256px;
        }
        .infopic {
          margin-bottom: 24px;
        }
      }
    }
  }
  
  @include respond-to('medium') {
    .container {
      max-width: 348px;
    }
    .col-sm-12 {
      width: 100%;
    }
    
    .nav {
      .container-md-nav {
        align-items: start;
        padding: 0px;
        flex-direction: column;
        .gap-16 {
          gap: 0px;
        }
        ul {
          width: 100%;
        }
        li {
          border: 1px solid #FFFFFF;
          width: 50%;
          text-align: center;
          padding: 12px 0px;
        }
      }
    }
    
    h1, h2 {
      font-size: 24px;
    }
    .pe-40 {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    .list {
      .row {
        gap: 24px;
      }
    }
    .input_all {
      .container-md-fluid {
        .form {
          .check_btn {
            width: 100%;
          }
        }
      }
    }
    .footer {
      .footer-nav-all {
        padding: 24px 0;
        .footer-nav {
          display: none;
        }
        .gap-8 {
          gap: 8px;
        }
        .icon {
          width: 24px;
        }
        .info {
          a {
            font-size: 16px;
            .material-symbols-outlined {
              font-size: 20px;
              padding-right: 10px;
            }
          }
        }
      }
      .copyright {
        padding-top: 16px;
        padding-bottom: 24px;
        .gap-12 {
          gap: 24px;
        }
      }
    }
    .header-prodct {
      .banner1, .banner2, .banner3, .banner4 {
        background-size: cover;
        width: 376px;
        height: 272px;
        display: inline-block;
      }
    }
    .s-map {
      .d-flex {
        .column {
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          gap: 0px;
          .infopic {
            margin-bottom: 0px;
          }
        }
      }
    }
  }